.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.input-field::placeholder {
  color: skyblue;
}

.fetch-button {
  background-color: skyblue;
  color: black;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.fetch-button:hover {
  background-color: darkorange;
}

/* Add underline to all data items */
.data-container {
  margin-top: 20px;
}

.data-table {
  border-collapse: collapse;
  width: 100%;
}

.data-table th,
.data-table td {
  border: 1px solid black;
  padding: 8px;
}

.data-table tr:hover {
  background-color: #f2f2f2;
}


.underline-cell {
  border-bottom: 1px solid black;
}


.grey-header {
  color: black;
}

